.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

/* .modal {
  width: 80%;
  height: auto;
} */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.loader {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
